.delimitador-rodape-top {
  padding: 60px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.delimitador-rodape {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}
.delimitador-rodape-top h2 {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.rodape-menu {
  background-color: #f7f7f7;
  border-top: solid 2px #f50400;
}

.logo-rodape {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.rodape-direitos {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .delimitador {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.25rem;
  }

  .introducao button {
    padding: 10px 30px;
    font-size: 1rem;
  }

  .introducao svg {
    position: static;
    margin: 20px auto;
    display: block;
    animation: none;
  }

  .delimitador-rodape-top,
  .delimitador-rodape {
    flex-direction: column;
  }

  .logo-rodape {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .rodape-direitos {
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .introducao h1 {
    font-size: 2.5rem;
  }

  .introducao p {
    font-size: 1rem;
  }

  .introducao button {
    padding: 10px 20px;
    font-size: 0.875rem;
  }

  .introducao svg {
    width: 30px;
    height: 30px;
  }

  .delimitador-rodape-top,
  .delimitador-rodape {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-rodape {
    width: 100%;
  }

  .rodape-direitos {
    width: 100%;
    justify-content: center;
  }
}

.delimitador-rodape-top {
  padding: 60px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.delimitador-rodape {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.delimitador-rodape-top h2 {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.rodape-menu {
  background-color: #f7f7f7;
  border-top: solid 2px #f50400;
}

.logo-rodape {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.rodape-direitos {
  display: flex;
  justify-content: flex-end;
}
