.sobre {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.sobre-mim h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.efeito {
  background-color: #f50400;
  width: 66px;
  height: 7px;
  border-radius: 37px;
  margin-top: -25px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .sobre {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sobre-mim h2 {
    font-size: 2rem;
  }

  .sobre p {
    font-size: 1rem;
    padding: 0 10px;
  }

  .efeito {
    margin: 0 auto 25px;
  }

  .sobre img {
    max-width: 80%;
    margin: 20px auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .sobre-mim h2 {
    font-size: 1.5rem;
  }

  .sobre p {
    font-size: 0.875rem;
    padding: 0 10px;
  }

  .efeito {
    width: 50px;
    height: 5px;
  }

  .sobre img {
    max-width: 100%;
    margin: 10px auto;
    display: block;
  }
}
